@import"../../vars";

.card{
    aspect-ratio: 3/5;
    height:  80px;
    display:flex; 
    flex-direction: column;
    border: solid;
    border-color:$contrast;

}


.suit{
    background-size: cover;
}

.number{
    position:absolute;
    flex-shrink: 1;
}


.number>*{
    font-family: 'PlayerFont';
    color: $contrast;
    top: 5px;
    position: relative;
    font-size: 40px;
    margin-right: 4px;
}


.hearts{
    background-image: url(../../assets/heart.png);
    background-size: cover;
}

.pikes{
    background-image: url(../../assets/diamond.png);
    background-size: cover;
}


.clubs{
    background-image: url(../../assets/clover.png);
    background-size: cover;
}

.spades{
    background-image: url(../../assets/spade.png);


}




  
  