.card{
    aspect-ratio: 3/5;
    height:150px; 
    border-color: black;
    border-style: solid;
}

.card{
    border-color: black;
    border-style: solid;
}
.container{
    display: flex;
    flex-direction: row;
}