@import"../../vars";

.mat-column-pcardsCol {
    flex: 0 0 300px !important;
    white-space: unset !important;
    display: flex;
    flex-direction: column;
    
  }
  .cardContainer{
    flex-direction: row;
    display: flex;
  }
  .mat-table{
    background-color: $table-color;

  }

  .mat-column-chipsraised{
    flex: 0 1 100px !important;
    white-space: unset !important;
    flex-direction: column;
  }


  .mat-column-cardsValueCol{
    flex: 0 0 50px !important;
    white-space: unset !important;
  }

  .mat-column-cardsValueCol>h2{
    font-family: 'PlayerFont';
    color: $contrast;

  }

  .mat-column-raiseSplit{
    flex: 0 0 100px !important;
    white-space: unset !important;
  }

  .mat-row.cdk-row{
    border-style:none;
    background-color: $table-color;
    margin-bottom: 20px;
    border:solid;
    border-color: $contrast;
  }
  .raised{
    background-image: url(../../assets/chipicon.png) ;
    background-size: cover;
    display: flex;
    min-height: 60px;
    min-width: 60px;
    align-items: center;    
  }
  .raised>h2{

    margin: 0 auto;
    font-family: 'PlayerFont';
    color: $table-color;
    
  }

  .arrowup{
    background-image: url(../../assets/arrowup.png) ;
    min-height: 25px;
    min-width: 25px;
    background-size: cover;

  }
  .arrowdown{
    background-image: url(../../assets/arrowdown.png) ;
    min-height: 25px;
    min-width: 25px;
    background-size: cover;

  }

  h1,h2,h3,h4,h5,p{
    font-family: 'PlayerFont';
    color: $contrast;
  }


