<mat-table #myTable [dataSource]="dataSource">
  <!-- ChipsRaised -->
  <ng-container matColumnDef="chipsraised">
    <mat-header-cell *matHeaderCellDef> chipsraised </mat-header-cell>
    <mat-cell *matCellDef="let element;">
      <div class="arrowup" (click)="increaseRaise(element.userId, element.chipsRaised, element.id)"
        [hidden]="passIndex()==0 ? false : true"></div>
      <div class="raised">
        <h2>{{ element.chipsRaised }}</h2>
      </div>
      <div class="arrowdown" (click)="decreaseRaise(element.userId, element.chipsRaised, element.id)"
        [hidden]="passIndex()==0 ? false : true"></div>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="cardsValueCol">
    <mat-header-cell *matHeaderCellDef> value </mat-header-cell>
    <mat-cell *matCellDef="let element;">
      <h2>{{ element.cardsValue }}</h2>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="raiseSplit">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
       <div *ngIf="passIndex() == 1 && element.status!='busted' && element.status!='blackjack' "> 
        <button mat-raised-button  (click)="getCard(element.userId, element.id)">Hit</button>
        <button mat-raised-button  *ngIf="isSplittable(element.chipsRaised, element.userId, element.status)" (click)="split(element.userId, element.id)"> Split</button>
        <button mat-raised-button  *ngIf="isDoubleable(element.chipsRaised, element.userId, element.id)"
          (click)="double(element.userId, element.id, element.chipsRaised)">Double</button>
      </div>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="pcardsCol">
    <mat-header-cell *matHeaderCellDef> cards </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="cardContainer">
        <div class="card" *ngFor="let card of element.possessedCardsCollection">
          <app-card [card]="card"></app-card>
        </div>
      </div>
      <p class="info" *ngIf="element.status != null && element.winloss == null && element.status != 'splittable' ">{{element.status.toUpperCase()}} {{" ! Please wait... "}}</p>
      <p class="info"  *ngIf="element.winloss != null">{{ handRecap(element.winloss,  element.chipsGainsRatio, element.chipsRaised )}}</p>
    </mat-cell>
  </ng-container>


  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>