@import"../../vars";
  
  .example-header-image {
    background-image: url('../../assets/MrHouse2.png');
    background-size: cover;
  }

  .mat-card{
    border-radius: 0px;
    background-color: $table-color;
    min-height: 100%;
  }
  .mat-column-pcardsCol {
    flex: 0 0 300px !important;
    white-space: unset !important;
    display: flex;
    flex-direction: column;
  }

  .mat-column-cardsValueCol{
    flex: 0 0 50px !important;
    white-space: unset !important;
  }


  .mat-card-header{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .mat-card-header>h2{
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'PlayerFont';
    color: $contrast;
  }

  .mat-card-avatar{
    height: 60px;
    width: 60px ; 
  }

  .mat-table{
    background-color: $table-color;
  }

  h1,h2,h3,h4,h5,p{
    font-family: 'PlayerFont';
    color: $contrast;
  }

  .mat-row.cdk-row{
    justify-content: center;
    border-style:none;
    background-color: $table-color;
    margin-bottom: 20px;
    border:solid;
    border-color: $contrast;
  }