<mat-card *ngIf="dealer$ | async as dealer">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>

        <h1> {{ dealer.name }}</h1>
    </mat-card-header>
    <mat-card-content *ngIf="dealer">

        <mat-table #myTable [dataSource]="dataSource">
            <!-- ChipsRaised -->
            <ng-container matColumnDef="cardsValueCol">
                <mat-header-cell *matHeaderCellDef> value </mat-header-cell>
                <mat-cell *matCellDef="let element;">
                    <h2>{{ element.cardsValue }}</h2>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pcardsCol">
                <mat-header-cell *matHeaderCellDef> cards </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="card" *ngFor="let card of element.possessedCardsCollection">
                        <app-card [card]="card"></app-card>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>



    </mat-card-content>

    <button class="next" (click)="stand()">{{buttonString()}}</button>

</mat-card>