<div  appNavbar id="navbar">
    <a href="" routerLinkActive="active" >Home</a>
    <a routerLink="/blackprack" routerLinkActive="active">Blackjack</a>
    <a routerLink="/technique" routerLinkActive="active">Technique</a>

    <a href="https://www.linkedin.com/in/marwane-el-aouni/" target="_blank" >Linkedin</a>
    <a href="https://www.canva.com/design/DAE6kwBInb8/eCe4fXX_3GjniH9guw_Xcg/view?utm_content=DAE6kwBInb8&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank" >CV</a>
    <a href="https://github.com/Guruk13" target="_blank" >GitHub</a>
  </div>


  <router-outlet></router-outlet>