
  <div class="nav-container">
    <nav id = 'navbar'>

        <div class="link-container ">
            <a class="nav-title" routerLink="" routerLinkActive="active" >Marel</a>
        </div>

        <div class="link-container">
            <a routerLink="/blackprack" routerLinkActive="active" >Blackjack</a>
        </div>
        <div class="link-container">
            <a href="https://github.com/Guruk13" target="_blank">Github</a>
        </div>

        <div class="link-container">
            <a href='#' class="nav-link">Contact Us</a>
        </div>
    </nav>
</div>






  <router-outlet></router-outlet>