
.mat-card.player-zone{
   background-color:  white;


}

.mat-card.decides{
    border-color: rgb(239, 248, 117);
    border-style: solid;
    border-width: 20px;
}

.mat-card{
    height:100%;
}

mat-grid-tile {
    background: $table-color;
  }





