
.mat-card.player-zone{
   background-color:  white;
   //height: 180px;
}

.mat-card.decides{
    border-color: rgb(239, 248, 117);
    border-style: solid;
    border-width: 20px;
}



mat-grid-tile {
    background: $table-color;
  }





