<div SideWrapperDirective #a='openme' class="overlay">
    <a class="closebtn" (click)="a.close()">X</a>
    <div class="overlay-content">
        <div class="separated">
            <div class="rules">
                <h1>Quick Rules</h1>
                <ol>
                    <li>Raise your bet </li>
                    <li>Two cards are dealt to your hand : You can split that hand if the two cards have the same <b>value</b>.<br>
                        Next to your cards is the Cards Value, get it as close to <b>21</b> as possible by doubling or hitting
                    </li>
                    <li>Mr. House draws cards until he reaches 17, your wins and losses are calculated</li>
                    <li>Earn your chips, start a new round</li>
                </ol>
                <h1>House rules</h1>
                <ul>
                    <li>Blackjack pays 3:2</li>
                    <li>Wins are dealt at the end of the round</li>
                    <li>No insurrance</li>
                    <li>You can split, up to three hands</li>
                    <li>Only one deck is used at a time , you may try to count cards</li>
                </ul>
            </div>
            <hr>
            <div class="rules">
                <h1>Game Parameters</h1><br>
                <p>Coming soon !</p>
            </div>
        </div>
    </div>
</div>

<div id="opener" (click)="a.open()"></div>