@import"../home/home.component";
@import"../../vars.scss";




.wide {
    width: 90vw;
  }
.separated{
    display: flex;
    flex:row;
}
hr{
    margin:30px;
    color:rgb(161, 80, 92);
}
.exampleCode{
    font-size:28px;
    padding:30px;
    margin: 20px;
    border:solid;
    border-color: rgb(161, 80, 92);
    font-family: 'M PLUS 1 Code', sans-serif;
}

.quote{
    border-color: rgb(161, 80, 92);
    color: rgb(161, 80, 92);
    font-family: 'M PLUS 1 Code', sans-serif;
}


