<section class="gradient2">
    <div class="animation">
        <div class="slide-up box">
            <h1>Introduction</h1>
            <p>Possédant dèjà quelques connaissances de base sur Angular, j'avais pour objectif d'implementer mon
                premier Store
                ainsi que d'utiliser une librairie de composants répandu.
            </p>
        </div>
    </div>
</section>

<section class="gradient1">
    <div class="animation">
        <div class="slide-up box wide">
            <h1>Angular Material</h1>
            <p>Je suis ravi de la découverte de cette librairie, elle m'as rapidement orienté sur des solutions
                techniques élégantes tel que la <span class="quote">mat-table</span> ou bien les <span class="quote">steppers</span> . Elle permet d'encourager certains
                process côté frontend.
            </p>
        </div>
    </div>
</section>



<section class="gradient2">
    <div class="animation">
        <div class="slide-up box wide">
            <h1>NgRx</h1>
            <p>Première éxpérience de Store, cette librairie est très complexe, j'ai appris au fur et à mesure
                de la progression de l'application. Satisfait , j'émet quelques réserves concernant la courbe
                d'apprentissage qui est plutot abrupte
            </p>
        </div>
    </div>
</section>


<section class="gradient3">
    <div class="animation">
        <div class="slide-up box wide">
            <h1>Auto-critique</h1>
            <div class="separated">
                <p>Du fait que j'étais novice à l'usage d'un Store et de Ngrx , j'ai eu des pitfall qui m'ont conduit 
                    à contourner des notions plus complexes tels que les Entités ou la normalisation du state...<br><br>
                    Ici Immer est utilisé pour contourner le paradigme d'immutabilité du state, ce qui permet de modifier la collection d'une main d'un joueur.<br><br>

                    La route blackjack est <span class="quote">lazy-loaded</span> pour optimiser les performances.<br><br>

                    La méthode <span class="quote">unsubscribe</span> n'as pas été utilisé.
                    
                </p>
                <hr>
                <p class="exampleCode" [innerHTML]="codeString()">  </p>
            </div>
        </div>
    </div>
</section>