


$table-color: rgb(40, 40, 60);

$contrast: rgb(200, 200, 200);

$gradient1: rgb(75, 75, 200);
$gradient2: rgb(75, 75, 175);
$gradient3: rgb(75, 75, 150);
$gradient4: rgb(75, 75, 125);
$gradient5: rgb(75, 75, 100);



@font-face {
    font-family: 'PlayerFont';
    src: url(./assets/BebasNeue-Regular.ttf) format('truetype');
    font-weight: 1;
}


