<section class="gradient1">
    <mat-card class="animation">
        <div class="slide-up box wrap hello">
            <div mat-card-avatar class="profileImage"></div>
            <h1>Bonjour,</h1>
            <p class="para">Après avoir consacré quelques temps au bien-être de ma mère je m'approche de votre entreprise pour vous
                proposer mes compétences en tant que
                <b>  Dev Junior Angular</b><br><br>
                Si possible, merci d'utiliser <b>Firefox</b> . 
            </p>
        </div>
    </mat-card>
</section>

<section class="gradient2">
    <div class="animation">
        <div class="slide-up box">
           <i> <h1>"Où suis-je ?" </h1></i>
            <p class="para">Ce petit site est une démonstration des compétences que j'ai travaillés ces derniers mois, après une longue ellipse dans ma vie 
                professionelle , je me dois de démontrer avec panache ce dont je suis capable. C'est ma <b>lettre de motivation</b>
            </p>
        </div>
    </div>
</section>

<section class="gradient3">
    <div class="animation">
        <div class="slide-up box">
            <i><h1>"Qu'est-ce donc ?"</h1></i>
            <p class="para">Cette application permet de jouer au Blackjack. Plus de détails dans la partie <a>technique</a></p>
        </div>
    </div>
</section>


