<section class="gradient1">
    <mat-card class="animation">
        <div class="slide-up box wrap hello">
            <div mat-card-avatar class="profileImage"></div>
            <h1>Bonjour,</h1>
            <p>Après avoir conssacré quelques temps au bien être de ma mère je m'approche de votre entre prise pour vous
                proposez mes compétences en tant que<b> Dev Junior Angular</b>
            </p>
        </div>
    </mat-card>
</section>

<section class="gradient2">
    <div class="animation">
        <div class="slide-up box">
           <i> <h1>"Ou suis je ?" </h1></i>
            <p>Ce petit site est une démonstration des compétences que j'ai travaillé ces derniers mois, après une longue éllipse dans ma vie 
                proffessionelle , je me doit démontrer avec panache ce dont je suis capable. C'est ma lettre de motivation 
            </p>
        </div>
    </div>
</section>

<section class="gradient3">
    <div class="animation">
        <div class="slide-up box">
            <i><h1>"Quest ce donc ?"</h1></i>
            <p>Cette aplication permet de jouer au blackjack. Plus de détails dans la partie <a>technique</a></p>
        </div>
    </div>
</section>


